/*General styles*/
.pageHeader {
  text-align: center;
}

.profile.header {
  position: sticky;
}

.textBox {
  max-height: 70%;
  overflow: auto;
}

/* sets the max width of the form container */
.form.container {
  max-width: 500px
}

nav{
  position: absolute;
  bottom: 0;
}

.phone.button {
  width: 100%
}

/* User signup styles */
.signup {

}