/*General styles*/
.pageHeader {
  text-align: center;
}

.profile_header {
  position: sticky;
  background-color: aquamarine;
}

.textBox {
  max-height: 70%;
}

/* sets the max width of the form container */
.form.container {
  max-width: 500px
}

.nav{
height: 50px;
background-image: linear-gradient(to bottom right, rgba(77, 77, 196, 0.904), rgba(50, 50, 50, 0.8))
}

.phone.button {
  width: 100%
}

/* User signup styles */
.signup {

}